<?xml version="1.0" encoding="UTF-8"?>
<configuration>


    <appender name="jpa21-test" class="ch.qos.logback.core.ConsoleAppender">
        <Target>System.out</Target>
        <encoder>
            <pattern>%-5p %contextName [%thread] %c{3}:%L - %m%n</pattern>
        </encoder>
    </appender>
    <root level="DEBUG">
        <appender-ref ref="jpa21-test"/>
    </root>


    <logger name="org.hibernate.tool.hbm2ddl.SchemaExport" level="TRACE"/>
    <logger name="org.hibernate.SQL" level="DEBUG"/>
</configuration>